.react-rainbow-admin-app_sidebar-container {
  position: fixed;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 68px);
  margin-top: 68px;
  background-color: #fff;
  z-index: 99999;
  padding-bottom: 14px;
  padding-top: 14px;
  margin-top: 50px;
}

.react-rainbow-admin-app_sidebar {
  width: 88px;
  height: 100%;
  border-right: 1px solid #f4f6f9;
  overflow-y: auto;
  flex-grow: 1;
}

.react-rainbow-admin-app_router-container {
  padding-top: 68px;
  padding-left: 88px;
  background-color: #f4f6f9;
  min-height: 100vh;
}

.react-rainbow-admin-app_sidebar-item {
  margin-bottom: 16px;
  transition-duration: 0.8s;
}
.react-rainbow-admin-app_sidebar-item:hover {
  transform: translate(0px, -5px);
}
.react-rainbow-admin-app_sidebar-back-button-container {
  display: none;
}

@media (max-width: 600px) {
  .react-rainbow-admin-app_sidebar-container {
    height: 100vh;
    margin-top: 0;
    transform: translateX(0%);
    transition: transform 230ms linear, opacity 230ms linear;
  }
  .react-rainbow-admin-app_router-container {
    padding-top: 116px;
    padding-left: 0;
  }
  .react-rainbow-admin-app_sidebar-container--sidebar-hidden {
    transform: translateX(-100%);
    transition: transform 250ms linear, opacity 250ms linear;
  }
  .react-rainbow-admin-app_sidebar-back-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-grow: 2;
    align-items: flex-end;
    padding-top: 12px;
  }
  .react-rainbow-admin-app_sidebar-back-button-icon {
    color: #000;
  }
  .react-rainbow-admin-app_backdrop {
    display: unset;
    width: 100vw;
    height: 100vh;
    background-color: rgba(82, 95, 127, 0.4);
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
  }
}

h2 {
  font-size: 1rem !important;
  font-weight: 600 !important;
  color: rgb(42, 48, 57);
  line-height: 1.5;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 0.75rem !important;
  font-weight: 400 !important;
  color: rgb(42, 48, 57);
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Lato", Arial, sans-serif !important;
}

a:hover {
  text-decoration: none !important;
}

@media (min-width: 320px) {
  .rainbow-m-bottom_xsmall {
    padding: 20px 39px !important;
  }
}

@media (min-width: 1000px) {
  .rainbow-m-bottom_xsmall {
    padding: 16px 20px !important;
  }
}

button:focus {
  outline: none !important;
}

.bg-image {
  /* background-image: url("../Asset/Images/b2.jpeg"); */
  background-color: #353535;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 92vh;
  margin-top: -20px;
}

.tp-image {
  background-image: url("../Asset/maintain.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headings {
  text-align: center;
  font-size: 25px !important;
  color: #fff;
  padding-top: 20px;
}

.loader {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 50%;
  top: 50%;
}

.h1 {
  font-size: 22px !important;
  font-weight: bold !important;
}

.b {
  color: #f5f5f5 !important;
}

.line {
  width: 40px;
  height: 2px;
  background: #5c761f;
  display: inline-block;
}

.h2 {
  font-size: 17px !important;
  color: #f4f4f4 !important;
}

.p {
  font-size: 15px !important;
}

.round {
  height: 80px;
  width: 80px;
  text-align: center;
  line-height: 75px;
  border: 3px solid rgb(9, 128, 181);
  border-radius: 50%;
  font-size: 26px;
  font-weight: bold;
  color: rgb(9, 128, 181);
  float: left;
  margin-right: 20px;
}

.h3 {
  font-size: 17px !important;
}

.h4 {
  font-size: 15px;
}

input,
textarea {
  border-radius: 4px;
  padding: 10px;
  width: inherit;
  outline: none;
  border: 1px solid #000;
  margin: 10px 0 !important;
}

.button {
  padding: 12px;
  border-radius: 7px;
  margin: 0 14px;
  width: auto;
  background: rgb(9, 128, 181);
  border-color: rgb(9, 128, 181);
  color: #ffffff;
  transition-duration: 0.8s;
}
.button:hover {
  background: #108548;
  border-radius: 5px 0px 5px 0px;
  box-shadow: 5px 5px 2px 2px;
}

.buttons {
  padding: 12px;
  cursor: pointer;
  border-radius: 7px;
  text-align: center;
  margin: 30px 14px;
  width: auto;
  background: rgb(9, 128, 181);
  border-color: rgb(9, 128, 181);
  color: #ffffff;
  transition-duration: 0.8s;
}
.buttons:hover {
  background: #108548;
  border-radius: 5px 0px 5px 0px;
  box-shadow: 5px 5px 2px 2px;
}
.form-logo img {
  width: 48px;
  height: 50px;
}

.hey h1 {
  color: #353650;
  font-size: 45px;
  margin-bottom: 0;
  margin-top: -40px;
  text-align: center;
  font-style: initial;
}

.btn11 {
  padding: 10px 18px;
  text-align: center;
  color: #353650;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

.hey p {
  color: #353650;
  font-size: 20px !important;
  text-align: center;
  margin-top: 25px;
}

.main {
  width: 80px;
  height: 80px;
  border-radius: 35%;
  position: relative;
  margin-top: 40px;
  left: 45%;
  top: 100%;
  border: solid 0px gray;
}

.main:after {
  width: 80px;
  height: 80px;
  border-radius: 35%;
  position: absolute;
  margin-top: 40px;
  left: 50%;
  top: 100%;
  background: url("../Asset/loaders.png");
  background-size: contain;
  content: "";
  -webkit-animation: spinX 3s infinite;
  animation: spinX 3s infinite;
}

@-webkit-keyframes spinX {
  0% {
    -webkit-transform: rotateX(0deg);
    -webkit-transform-origin: 0% 50% 0;
  }
  100% {
    -webkit-transform: rotateX(360deg);
    -webkit-transform-origin: 0% 50% 0;
  }
}

@keyframes spinX {
  0% {
    transform: rotateX(0deg);
    transform-origin: 0% 50% 0;
  }
  100% {
    transform: rotateX(360deg);
    transform-origin: 0% 50% 0;
  }
}

.closeButton {
  position: absolute;
  right: 5px;
  top: 0px;
  height: 30px;
  width: 30px;

  line-height: 43px;
  text-align: center;
  border-radius: 20px;
  color: #000;
  font-size: 30px;
}

.lastimg {
  position: absolute;
  bottom: -30px;
  right: 0;
}
.whatsapp {
  width: 20px;
  height: 20px;
  margin-top: -6px;
  transition-duration: 0.8s;
}
.whatsapp:hover {
  transform: translate(0, -3px);
}
.whatsappone {
  width: 20px;
  height: 20px;
  transition-duration: 0.8s;
}
.whatsappone:hover {
  transform: translate(0, -3px);
}
.whatsapptwo {
  width: 25px;
  height: 25px;
  transition-duration: 0.8s;
}
.whatsapptwo:hover {
  transform: translate(0, -3px);
}
