* {
  box-sizing: border-box;
}
p:last-child {
  margin-top: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}
.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.logo img {
  width: 50px;
  height: 50px;
}
header {
  width: 100%;
  height: 70px;
  background: #353650;
  position: fixed;
  z-index: 999;
}
.flex {
  display: flex;
  align-items: center;
}
.icon img {
  padding-left: 20px;
}
.btn1 {
  padding: 10px 30px;
  font-size: 18px;
  color: black;
  display: inline-block;
  text-decoration: none;
  background: #fff;
  transition-duration: 0.8s;
  margin-top: -5px;
  border-radius: 10px 0px 10px 0px;
}
.btn1:hover {
  background: skyblue;
  border-radius: 10px 0px 10px 0px;
}
ul {
  display: flex;
  list-style: none;
}
ul li a {
  text-decoration: none;
  padding: 10px 20px;
  color: #fff;
  font-size: 18px;
  font-weight: 800px;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 850px;
}
.back:before {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 850px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
}
.btn2 {
  padding: 15px 30px;
  background: #fff;
  color: black;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  transition-duration: 0.8s;
  border-radius: 0px 10px 0px 10px;
}
.center {
  position: absolute;
  top: 17%;
  bottom: 0;
  right: 0;
  left: 5%;
  margin: auto;
  padding: 80px 0px 0px 0px;
}
.made h1 {
  font-size: 50px;
  color: #fff;
  margin-bottom: 0;
}
.made p {
  color: #fff;
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 10px;
}
.made .btn2 {
  margin-top: 20px;
}
.btn2:hover {
  background-color: skyblue;
  border-radius: 10px 0px 10px 0px;
}
.padding {
  padding: 50px;
}
.super h1 {
  color: #353650;
  font-size: 40px;
  margin-bottom: 0;
}
.super p {
  color: #353650;
  font-size: 18px;
  margin-top: 15px;
  line-height: 1.5em;
}
.super-center {
  text-align: center;
}
.text-why {
  flex-basis: 45%;
  padding: 15px;
}
.text-img {
  flex-basis: 55%;
  padding: 10px 20px;
  animation-name: abc1;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes abc1 {
  0% {
    transform: translatex(0%);
  }
  50% {
    transform: translatex(20%);
  }
  100% {
    transform: translatex(0%);
  }
}
.why-flex {
  display: flex;
  justify-content: space-around;
}
.use h1 {
  font-size: 35px;
  color: #353650;
  text-align: center;
}
.platform {
  padding: 10px;
  display: flex;
  justify-content: space-around;
  background: #fff;
  align-items: center;
  border-radius: 10px;
  transition-duration: 0.9s;
  margin-bottom: 15px;
}
.platform:hover {
  transform: translate(0, -5px);
}
.keep img {
  width: 50px;
  height: 50px;
}
.back1 {
  background: rgb(255, 241, 235);
  width: 100%;
  height: 700px;
  padding: 50px;
  clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0 0);
}
.keep h1 {
  color: #353650;
  font-size: 18px;
  margin-bottom: 0;
}
.keep p {
  font-size: 14px;
  color: #353650;
  margin-top: 5px;
  margin-bottom: 0;
}
.never h1 {
  color: #353650;
  font-size: 35px;
}
.never-center {
  text-align: center;
}
.never p {
  color: #353650;
  font-size: 18px;
}
.smart-img {
  flex-basis: 55%;
  padding: 20px;
  height: 600px;
  padding: 30px;
  padding-top: 50px;
  animation-name: abc;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes abc {
  0% {
    transform: translatey(0%);
  }
  50% {
    transform: translatey(20%);
  }
  100% {
    transform: translatey(0%);
  }
}
.smart-text {
  flex-basis: 45%;
  height: 600px;
  padding: 20px;
}
.smart-flex {
  display: flex;
  justify-content: space-around;
}
.fea h1 {
  color: #353650;
  font-size: 35px;
  text-align: center;
}
.custom-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: skyblue;
}
.main-custom {
  padding: 15px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.custom-text h1 {
  font-size: 18px;
  color: #353650;
  margin-bottom: 0;
}
.custom-text p {
  color: #353650;
  font-size: 13px;
}
.back2 {
  background: rgb(255, 241, 235);
  width: 100%;
  padding: 50px;
  clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0% 75%, 0 0);
  height: 830px;
}
.back3 {
  width: 100%;
  padding: 35px;
  background-color: #353650;
}
.why h1 {
  color: #fff;
  font-size: 35px;
  text-align: center;
}
.box {
  flex-basis: 30%;
  background-color: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  transition-duration: 0.8s;
}
.box-flex {
  display: flex;
  justify-content: space-around;
  padding-top: 55px;
}
.jari img {
  width: 120px;
  height: 120px;
  margin-top: 20px;
}
.jari h1 {
  color: #353650;
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 0;
}
.jari h5 {
  color: black;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0;
  margin-top: 10px;
}
.jari p {
  font-size: 12px;
  color: black;
}
.jari h6 {
  color: #353650;
  font-size: 18px;
  margin-top: 20px;
}
.box:hover {
  transform: translate(0, -10px);
}
.border {
  border-top: 1px solid #fff;
  padding-top: 25px;
  margin-top: 45px;
}
.a1 h1 {
  font-size: 35px;
  color: #fff;
  margin-bottom: 0;
}
.a1 p {
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 400;
}
.party-text {
  flex-basis: 55%;
  padding: 20px;
}
.party-img {
  flex-basis: 45%;
  padding: 20px;
}
.main-flex {
  display: flex;
  justify-content: space-around;
}
.from h1 {
  color: #353650;
  font-size: 30px;
  margin-bottom: 0;
}
.from p {
  color: #353650;
  margin-top: 10px;
  font-size: 18px;
}
.your-text {
  width: 70px;
  height: 70px;
  background-color: skyblue;
  border-radius: 50%;
}
.your-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px;
  margin-bottom: 15px;
}
.text h1 {
  font-size: 18px;
  color: #353650;
  margin-bottom: 0;
}
.text p {
  color: #353650;
  font-size: 17px;
  margin-top: 5px;
}
.party-img img {
  margin-top: 100px;
}
.do {
  width: 800px;
  background-color: #353650;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
}
.do h1 {
  color: #fff;
  font-size: 30px;
  text-align: center;
}
.btn3 {
  padding: 10px 25px;
  background-color: #fff;
  color: #353650;
  font-size: 16px;
  display: inline-block;
  border-radius: 10px 0px 10px 0px;
  transition-duration: 0.8s;
}
.btn3:hover {
  border-radius: 0px 10px 0px 10px;
  background-color: skyblue;
  color: #fff;
}
.do-center {
  text-align: center;
}
.do .btn3 {
  margin-top: 20px;
}
.footer-color {
  background-color: #353650;
  width: 100%;
  height: 350px;
  padding: 50px;
}
.flex1 {
  display: flex;
  align-items: center;
}
.footer-text p {
  color: #fff;
  font-size: 18px;
}
.footer-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.log-left p {
  color: #fff;
  font-size: 15px;
}
.log-right p {
  color: #fff;
  font-size: 15px;
  margin-left: 70px;
}
.log-flex {
  display: flex;
  align-items: center;
  padding-top: 35px;
}
.back4 {
  width: 100%;
  height: 630px;
  background-color: #353650;
}
.blue {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;

  background-repeat: no-repeat;
  background-position: center center;
}
.blue1 {
  width: 100%;
  height: 100%;
  background-color: #768890;
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 0.8s;
  border-radius: 50%;
  transform-origin: 280px center;
}
.blue:hover .blue1 {
  transform: rotate(180deg);
}
.dhari {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.contact-img {
  flex-basis: 50%;
  padding: 60px;
  margin-top: 90px;
}
.contact-text {
  flex-basis: 50%;
  padding: 60px;
  background-color: #fff;
  margin-top: 30px;
}
.contact-flex {
  display: flex;
  justify-content: space-around;
}
.ditt h1 {
  color: black;
  font-size: 35px;
  font-weight: 800;
  margin-top: 80px;
  margin-bottom: 0;
  margin-left: 20px;
}
.ditt p {
  font-size: 16px;
  color: black;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 20px;
}
.xyz {
  width: 80%;
  height: 50px;
  box-shadow: 10px 5px 10px 5px #fff;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
}
.d {
  font-size: 16px;
  font-weight: 800px;
}
.btn4 {
  padding: 10px 100px;
  background-color: #353650;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  color: #fff;
  border-radius: 10px 0px 10px 0px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .keep p {
    font-size: 10px;
  }
  .keep h1 {
    font-size: 15px;
  }
  .custom-text p {
    font-size: 12px;
    margin-top: 10 px;
  }
  .smart-text {
    flex-basis: 50%;
  }
  .smart-img {
    flex-basis: 50%;
  }
  .custom-text h1 {
    font-size: 14px;
  }
  .text p {
    font-size: 13px;
  }
}
.form-logo img {
  width: 48px;
  height: 50px;
}
.hey h1 {
  color: #353650;
  font-size: 22px;
  margin-bottom: 0;
  margin-top: -40px;
  text-align: center;
}
.hey p {
  color: #353650;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}
.btn11 {
  padding: 10px 18px;
  text-align: center;
  color: #353650;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}
.btn111 {
  padding: 10px 18px;
  text-align: center;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  background-color: #353650;
  color: #fff;
  border-radius: 10px;
}
.btn1111 {
  padding: 10px 43px;
  text-align: center;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  background-color: #353650;
  color: #fff;
  border-radius: 10px 0px 10px 0px;
}
.form-btn-flex {
  text-align: center;
  margin-top: 23px;
}
.ccc {
  width: 50%;
  height: 40px;
  padding: 15px 20px;
  border-radius: 20px;
  margin-top: 20px;
  outline: none;
  border: none;
  background-color: #e7e8ff;
}
.cccc {
  width: 100%;
  height: 80px;
  padding: 15px 20px;
  border-radius: 10px;
  outline: none;
  margin-top: 20px;
  background-color: #e7e8ff;
  border: none;
}
.send-btn-center {
  text-align: center;
  margin-top: 15px;
}
.policy h1 {
  color: black;
  font-size: 60px;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 0;
}
.policy h2 {
  color: black;
  font-size: 30px;
  text-align: center;
  font-weight: 400;
  margin-top: 15px;
}
.policy p {
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
  margin-top: 15px;
  color: #868686;
}
.policy h6 {
  font-size: 18px;
  line-height: 1.5em;
  text-align: center;
  margin-top: 30px;
  color: #868686;
  font-weight: 400;
}
.user h1 {
  color: black;
  font-size: 55px;
  text-align: left;
  margin-top: 15px;
}
.user p {
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 15px;
  color: #868686;
}
.user h6 {
  font-size: 18px;
  line-height: 1.5em;
  margin-top: 25px;
  color: #868686;
  font-weight: 400;
}
.and h1 {
  color: black;
  font-size: 32px;
  margin-top: 40px;
}
.and p {
  font-size: 17px;
  line-height: 1.5em;
  margin-top: 20px;
  color: #868686;
}
.but h1 {
  color: black;
  font-size: 55px;
  text-align: center;
  margin-top: 35px;
}
.also h1 {
  font-size: 30px;
  color: black;
  margin-top: 35px;
}
.also p {
  font-size: 17px;
  line-height: 1.5em;
  margin-top: 20px;
  color: #868686;
}
.also h2 {
  font-size: 25px;
  color: black;
  margin-top: 35px;
}
.also a {
  font-size: 20px;
}
.tearm h1 {
  color: black;
  font-size: 55px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 55px;
}
